<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Weather Details</h2>
      <div *ngIf="weatherDetails" class="weather-details">
        <p><strong>Country:</strong> {{ weatherDetails.sys?.country }}</p>
        <p><strong>City:</strong> {{ weatherDetails?.name }}</p>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>Temperature:</strong> {{ weatherDetails.main?.temp }} °C
            </p>
            <p>
              <strong>Feels Like:</strong>
              {{ weatherDetails.main?.feelsLike }} °C
            </p>
            <p>
              <strong>Min Temperature:</strong>
              {{ weatherDetails.main?.tempMin }} °C
            </p>
            <p>
              <strong>Max Temperature:</strong>
              {{ weatherDetails.main?.tempMax }} °C
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <strong>Pressure:</strong> {{ weatherDetails.main?.pressure }} hPa
            </p>
            <p>
              <strong>Humidity:</strong> {{ weatherDetails.main?.humidity }}%
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
